<div id="article-container">
    <div id="article-title" class="row-3">
        <h1>
            {{ article.title }}
        </h1>
    </div>

    <div id="article-sub-title" class="row-2">
        <h4>
            {{ article.subTitle }}
        </h4>
    </div>

    <div id="article-image" class="row-3 text-center">
        <img class="rounded img-fluid" [src]="article.getArticleImagePath()"/>
    </div>

    <div class="row-4">
        <div [innerHTML]="article.content"></div> 
    </div>
</div>
