#article-container {
    margin-right: 35px;
}

#article-title {
    margin-bottom: 10px;
}

#article-sub-title {
    margin-bottom: 5px;
}

#article-image {
    margin-bottom: 25px;
}
#article-date {
    /*margin-bottom: 15px;*/
}

#share-button-container {
    margin-bottom: 10px;
}