<div id="article-container">
    <div id="article-title" class="row-2">
        <h1>
            {{ article.title }}
        </h1>
    </div>
    
    <div id="share-button-container" class="row-1">
      <app-social 
        [url]="url"
        [title]="article.title"
        style="float: left">
      </app-social>

      <div id="article-date" style="float: right">
        {{ article.publishDate | date: 'fullDate' | uppercase }}
     </div>
   </div>

    <div id="article-image" class="row-3 text-center">
        <img class="rounded img-fluid" [src]="article.getArticleImagePath()"/>
    </div>

    <div id="article-sub-title" class="row-2">
        <h4>
            {{ article.subTitle }}
        </h4>
    </div>

    <div class="row-3">
        <div [innerHTML]="article.content"></div> 
    </div>
</div>
