<div class="col">
  <div class="row-sm-4 text-center">
    <h1 class="errorMessage">Someone isn't doing their job....</h1>
  </div>

  <div id="errorImageContainer" class="row-sm-2 text-center pagination-centered">
    <img class="rounded img-fluid .errorImage" 
        src="/assets/images/error/error-obama.jpg"
        alt="lazy"/>
  </div>

  <div class="row-sm-4 text-center">
    <h1 class="errorMessage">Please try again in a few minutes</h1>
  </div>

  <div class="row-sm-2 text-center">
    <h2><a class="nav-link" [routerLink]="['/home']">Return to Home</a></h2>
  </div>
</div>