<div id="article-container"> 
   <div class="row-6">
      <div *ngIf="loading">Loading your article...</div>
      <app-article *ngIf="!loading" [article]="article" [url]="this.router.url"></app-article>
   </div>
   
   <button type="button" 
           class="btn btn-primary" 
           *ngIf="preview && _isDevMode()" 
           [routerLink]="['/create/prog', article.title, article.name, article.subTitle, article.publishDate, article.content]">Back</button>

    <button type="button" 
           class="btn btn-primary"
           *ngIf="!preview && _isDevMode()"
           [routerLink]="['/create/edit', article.id, article.title, article.name, article.subTitle, article.publishDate | date:'yyyy-MM-dd', article.content]">Edit</button>

    <button type="button" 
           class="btn btn-primary"
           *ngIf="!preview && _isDevMode()"
           (click)="deleteArticle()">Delete</button>
           
   <div class="row-3 card">
    MORE ADS HERE THO<br>
    MORE ADS HERE THO<br>
    MORE ADS HERE THO<br>
    MORE ADS HERE THO<br>
   </div>

   <div class="row-3">
      <app-disqus *ngIf="!loading && !preview" [identifier]="article.id"></app-disqus>
   </div>
</div>