<div id="post-container" class="card col">
    <div id="title" class="row-4 text-center">
        <a [routerLink]="['/article/id', article.id]">
            {{ article.title.toUpperCase() }}
        </a>
    </div>

    <div class="row-4 text-center article-image-container">
        <img *ngIf="imagePath" class="rounded img-fluid" 
            [src]="imagePath"/>
    </div>

    <div id="description" class="row-4">
        <p class="text-center">
            {{ article.subTitle.toUpperCase() }}
        </p>
    </div>
</div>

