/* You can add global styles to this file, and also import other style files */

body {
    background-color: black;
    /*background-image: url("assets/images/site/background_fade.png");*/
    background-size: initial;
    background-repeat: no-repeat;
}

/** BOOTSTRAP OVERRIDES **/
/** unfortunately bootstrap overrides do not work in page stylesheets **/
.page-link {
    color: black !important;
}
.page-item.active .page-link {
    background-color: grey;
    border-color: grey;
}